<div class="container">
  <div class="panel panel-primary">
    <div class="panel-heading">
      <h2>Login</h2>
    </div>

    <div class="panel-body">
        <span class="border-0 rounded">
            <form method="POST" action="" id="login_form">
                <div class="form-group">
                  <label for="username" class="col-sm-2">User Name</label>
                  <div class="col-sm-2">
                    <input type="text" class="form-control" id="username" placeholder="username">
                  </div>
                  <br/>
                </div>
                <br/>
                <div class="form-group">
                  <label for="passwd" class="col-sm-2">Password</label>
                  <div class="col-sm-2">
                      <input type="password" class="form-control" id="passwd" placeholder="Password">
                  </div>
                </div>
                <br/><br/>
                <div class="form-group">
                    <label for="utype" class="col-sm-2"> Organization</label>
                    <div class="col-sm-2">
                        <select class="form-control" id="utype">
                            <option data-id="1">Global Citizen</option>
                            <option data-id="2">Government</option>
                            <option data-id="3">NGO or Aid worker</option>
                          </select>
                    </div>
                  </div>
                  <br/><br/>
                  <div class="form-group">
                      <button type="submit" class="btn btn-primary">Sign in</button>
                  </div>
                
              </form>
            </span>
    </div>
  </div> 
  
 
