<div class="modal fade" id="updateAssetModal1" tabindex="-1" role="dialog" aria-labelledby="updateAssetModalLabel">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title" id="updateAssetModalLabel">Review Transfer Funds</h4>
			</div>
			<form [formGroup]="myForm">
				<div class="modal-body">

					<div class="form-group text-left">
						<label for="fundsRequired">Funds Proposed</label>
						<input formControlName="fundsRequired" type="number" step='any' class="form-control" ng-disabled="all"
						 placeholder="500000">
					</div>
					<div class="form-group text-left">
						<label for="aidOrg">AidOrg ID</label>
						<textarea formControlName="aidOrg" class="form-control" rows="3" placeholder="6379" readonly="true"></textarea>

					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-Reject " data-dismiss="modal">Reject</button>
					<button (click)="updateAsset(myForm)" type="submit" class="btn btn-Approve" data-dismiss="modal">Confirm</button>
				</div>
			</form>
		</div>
	</div>
</div>




<div class="container">
	<div *ngIf="errorMessage" class="alert alert-danger" role="alert">
		<strong>Error:</strong> {{errorMessage}}
	</div>

	<div class="row">
		<div class="col-md-9">
			<h1 class="participant-title" id='participantName'>Government Pledges Dashboard</h1>
		</div>
		<div class="col-md-3">
			<!-- <button (click)="resetForm()" type="button" class="btn btn-primary" data-toggle="modal" data-target="#addParticipantModal">
            <span style="font-size: 14px;font-family: inherit;border-right:1px solid rgba(255,255,255,0.5);padding-right:0.6em;margin-right:0.5em;vertical-align:middle;">
                <svg class="plus-svg" xmlns="http://www.w3.org/2000/svg" width="10" height="10" viewBox="0 0 10 10">
                  <path fill-rule="evenodd" d="M5.5,4.5 L9.5,4.5 L10,4.5 L10,5.5 L9.5,5.5 L5.5,5.5 L5.5,9.5 L5.5,10 L4.5,10 L4.5,9.5 L4.5,5.5 L0.5,5.5 L0,5.5 L0,4.5 L0.5,4.5 L4.5,4.5 L4.5,0.5 L4.5,0 L5.5,0 L5.5,0.5 L5.5,4.5 Z"/>
                </svg>
            </span>
          Create Participant
        </button> -->
		</div>
	</div>
	<br>
	<div class="row">
		<div class="col-md-12">
			<table class="table table-responsive">
				<thead class="thead">
					<tr class="thead-cols">

						<th class="info">Pledge Id</th>

						<th class="info">Name</th>

						<th class="info">Description</th>

						<th class="info">FundsRequired</th>

						<th class="info">Status</th>

						<th class="info">AidOrg ID</th>

						<th class="info-actions">Actions</th>
					</tr>
				</thead>
				<tbody>
					<tr *ngFor="let pItem of allPledges">
            <td>
              {{pItem.pledgeId}}
            </td>
            <td>
                {{pItem.name}}
            </td>
            <td>
                  {{pItem.description}}
            </td>
            <td>
                {{pItem.fundsRequired}}
            </td>
            <td>
                {{pItem.status}}
            </td>
            <td>
                {{pItem.aidOrg}}
            </td>
						<td>
							<button type="button" class="btn btn-Review" data-toggle="modal" data-target="#updateAssetModal">Review</button>
							<button type="button" class="btn btn-TransferFunds" data-toggle="modal" data-target="#updateAssetModal1">Transfer
								Funds</button>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>
